<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<section>
	<input type="text" ng-model="search" class="search-query pull-left" placeholder="Buscar">
</section>
<br/>
<table ng-table="tableParams" class="table">
	<thead>
		<tr>
			<th>Actividad</th>
            <th>Proceso</th>
            <th>Empleado</th>
            <th>Aprobacion</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, activity) in activities | orderByPriority | filter:search | orderBy:'employee'">
            <td data-title="'Actividad'">
				<span>{{activity.activity}}</span>
			</td>
            <td data-title="'Proceso'">
				<span>{{activity.process}}</span>
			</td>
			<td data-title="'Trabajador'">
				<span>{{activity.employee}}</span>
			</td>
            <td data-title="'Aprobacion'">
				<span>{{activity.approved}}</span>
			</td>
			<td data-title="'Acciones'" width="200">
				<a href="" class="btn btn-primary btn-xs" ng-click="open(activity.$id)">Editar</a>
			</td>
		</tr>
	</tbody>
</table>